/* Style */


/* Grid gontainer */
.grid-books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
  padding: 2rem 1rem;
}

/* Book card */
.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 1rem;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
}

/* Book image*/
.book-card img {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 1rem;
}

/* Card content */
.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

/* Book title */
.card-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  min-height: 2.5em; 
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Book author*/
.card-text {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.75rem;
  min-height: 2em; 
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Boton */
.book-card a.btn {
  font-size: 0.85rem;
  margin-top: auto;
}

/* Footer */
footer {
  background-color: #eee;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}
