body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
}

header .container {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

header .btn {
    font-size: 1rem;
}

header div div {
    display: flex;
    gap: 0.5rem;
}

footer {

    text-align: center;
    margin-top: 1rem;

}
