 body {
     margin: 0;
     font-family: Arial, sans-serif;
     background-color: #f4f4f4;
     padding-top: 80px;
     padding-bottom: 80px;
     text-align: center;
 }

 header {
     background-color: #333;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     z-index: 1000;
 }

 header .container {
     background-color: #333;
     color: white;
     padding: 1rem;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     justify-content: space-between;
     align-items: center;
 }

 header h1 {
     margin: 0;
 }

 header .btn {
     font-size: 1rem;
     padding: 0.5rem 1rem;
     background-color: #555;
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
 }

 header div div {
     display: flex;
     gap: 0.5rem;
 }

 .mensaje {
     margin-top: 40px;
     font-size: 1.5em;
     padding: 20px;
     display: inline-block;
     border-radius: 8px;
 }

 .volver-btn {
     margin-top: 35px;
     font-size: 1rem;
     padding: 0.5rem 1rem;
     background-color: #007BFF;
     color: white;
     border: none;
     border-radius: 4px;
     cursor: pointer;
     text-decoration: none;
     display: inline-block;
 }

 footer {
     position: fixed;
     bottom: 0;
     left: 0;
     right: 0;

     text-align: center;
     padding: 1rem;

 }

 .contenedor {
     background-color: #ffffff;
     border-radius: 12px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
     padding: 30px;
     display: inline-block;
     margin-top: 100px;
 }
